<div>
    <h2 style="text-align: center;">Calendar/Weather becomes Weather Control.</h2>

    <p>Calendar/Weather has been heavily reworked and has become Weather Control.</p>

    <p>Weather Control is the same thing as Calendar/Weather V4, but under a different name and a new focus in mind.</p>

    <p>You should already see a window with more information about Weather Control, but if you don you can read this Patreon post describing precisely what is going on.</p>

    <p>In a nutshell, make sure you have Weather Control V4 installed, and you can uninstall Calendar/Weather. If you wish to go back to Calendar/Weather V3.1.7, please follow <a href="https://gitlab.com/jstebenne/foundryvtt-calendar-weather/-/wikis/Downgrading-to-a-previous-version" target="_blank">this guide</a>.</p>

    <p>If you need help, please head to <a href="https://discord.gg/f6PtsSjWGP" target="_blank">The Bird's Discord server</a>.</p>
</div>
