<div id="calendar-time-container">
	<section id="calendar">

		<!-- header -->
		<header id="calendar-header" class="calendar--header">
			<div class="header-navigation">
				<div class="calendar--setup calendar-btn">
					<i id="calendar-setup" class="fas fa-cog" title="{{localize 'cw.calendar.EditCalendar'}}"></i>
				</div>
				<div class="calendar--events calendar-btn">
					<i id=calendar-events class="far fa-calendar" title="{{localize 'cw.calendar.Events'}}"></i>
				</div>
			</div>

			<!-- day name -->
			<h1 id="calendar--move-handle">
				<span id="calendar-weekday">&nbsp;</span>
			</h1>

			<div class="header-navigation">
				<div class="calendar--season-indicator" id="season-indicator">
					<i class="fas fa-circle" title="{{localize 'Season'}}"></i>
				</div>
				<div class="calendar--weather-toggle calendar-btn">
					<i id=calendar-weather class="fas fa-cloud-sun" title="{{localize 'cw.calendar.Weather'}}"></i>
				</div>
			</div>
		</header>

		<!-- content -->
		<div class="calendar--content">

			<!-- date display -->
			<section id="calendar--date-display" title="{{localize 'cw.calendar.ClickToToggle'}}">
				<h2>
					<span id="calendar-date-num"></span>
					<span id="calendar-date"></span>
					<span id="calendar--moon"></span>
				</h2>
			</section>

			<!-- multiple moon display -->
			<section id="calendar--moon-list">
			</section>

			<!-- clock display -->
			<section class="calendar--clock">
				<div id="start-stop-clock" class="clock--time-display"  title="{{localize 'cw.time.StartStopPseudo'}}">
					<div id="clock-run-indicator" title="{{localize 'ClockRunning'}}">
						<ul>
							<li>
								<i class="fas fa-hourglass-start"></i>
							</li>
							<li>
								<i class="fas fa-hourglass-half"></i>
							</li>
							<li>
								<i class="fas fa-hourglass-end"></i>
							</li>
							<li>
								<i class="fas fa-hourglass"></i>
							</li>
						</ul>
					</div>
					<div class="time">
						<span class="calendar-time-disp" id="calendar-time">00:00:00</span>
					</div>
					<div id='calendar-time-running' class="start-stop">
						<i class="fas fa-play"></i>
						<i class="fas fa-stop"></i>
					</div>
				</div>
			</section>
		</div>

		<!-- footer -->
		<footer class="calendar--time-controls">
			<ul>
				<li id="calendar-btn-advance_01" class="advance-btn disabled" title="{{localize 'cw.time.Advance1second'}}" data-display="enabled" data-step="1" data-unit="s"></li>
				<li id="calendar-btn-advance_02" class="advance-btn disabled" title="{{localize 'cw.time.Advance30seconds'}}" data-display="enabled" data-step="30" data-unit="s"></li>
				<li class="advance-btn" title="{{localize 'cw.time.Advance1minute'}}" data-display="enabled" data-step="1" data-unit="min"></li>
				<li class="advance-btn" title="{{localize 'cw.time.Advance5minutes'}}" data-display="enabled" data-step="5" data-unit="min"></li>
				<li class="advance-btn" title="{{localize 'cw.time.Advance15minutes'}}" data-display="enabled" data-step="15" data-unit="min"></li>
				<li class="advance-btn" title="{{localize 'cw.time.Advance1hour'}}" data-display="enabled" data-step="1" data-unit="h"></li>
			</ul>
		</footer>

		<div id="loader">
			<div class="spinner">
				<i class="fas fa-spinner"></i>
			</div>
		</div>

	</section>

	<section id="weather">
		<div id="calendar-weather--container">
			<header>
				<span id="calendar-weather--temp">24.5°C</span>
		    <select class="calendar-weather-climate" title="{{localize 'cw.weather.SelectClimate'}}" onChange="Hooks.callAll('calendarWeatherClimateSet', this.value);">
		    	<option title="{{localize 'cw.weather.climate.description.Temperate'}}" value="temperate">{{localize 'cw.weather.climate.Temperate'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.TemperateMountain'}}" value="tempMountain">{{localize 'cw.weather.climate.TemperateMountain'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.Desert'}}" value="desert">{{localize 'cw.weather.climate.Desert'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.Tundra'}}" value="tundra">{{localize 'cw.weather.climate.Tundra'}}</option>
		      <option title="{{localize 'cw.weather.climate.descripton.Tropical'}}" value="tropical">{{localize 'cw.weather.climate.Tropical'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.Taiga'}}" value="taiga">{{localize 'cw.weather.climate.Taiga'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.Volcanic'}}" value="volcanic">{{localize 'cw.weather.climate.Volcanic'}}</option>
		      <option title="{{localize 'cw.weather.climate.description.Polar'}}" value="polar">{{localize 'cw.weather.climate.Polar'}}</option>
		    </select>
		    <div class="calendar-weather--refresh calendar-btn" id="calendar-weather-regenerate" title="{{localize 'cw.weather.RegenerateWeather'}}">
					<i class="fas fa-redo"></i>
				</div>
			</header>
			<div class="calendar-weather--content">
				<div class="calendar-weather--description">
					<p id="calendar-weather-precip">Placeholder Text</p>
				</div>
			</div>
		</div>
	</section>
</div>
